
  
APP_URL=http://localhost:3333
#If FRONT_URL is defined, only will be allowed requests from the specified origin
FRONT_URL=false
NODE_ENV=development

# Mongo

MONGO_URL=

# Redis

REDIS_HOST=127.0.0.1
REDIS_PORT=6379