

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1616961873095-3 {top: 40px; left: 20px; height: 180px; width: 440px; font-family: Arial, Arial, Helvetica, sans-serif; padding: 10px;
        }
        .silex-id-1616962826343-10 {top: 80px; left: 20px; height: 20px; width: 440px;
        }
        .silex-id-1616962872267-11 {top: 120px; left: 40px; height: 20px; width: 360px;
        }
        .silex-id-1616962905873-13 {top: 160px; left: 40px; height: 20px; width: 380px;
        }
        .silex-id-1616962905283-12 {top: 200px; left: 40px; height: 20px; width: 340px;
        }
        .silex-id-1616962912581-14 {top: 240px; left: 40px; height: 20px; width: 400px;
        }
        .silex-id-1616962457267-8 {top: 40px; left: 20px; height: 20px; width: 160px; font-weight: bold;
        }
        .silex-id-1616972587357-4 {top: -20px; left: 0px; height: 20px; width: 200px;
        }
        .silex-id-1616971695602-1 {top: 340px; left: 20px; height: 20px; width: 181px; font-weight: bold;
        }
        .silex-id-1616972715455-11 {top: 20px; left: 10px; height: 40px; width: 90px; text-align: center; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); background-color: rgba(17, 197, 96, 0.35);
        }
        .silex-id-1616972821050-12 {top: 20px; left: 120px; height: 40px; width: 90px; text-align: center; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); background-color: rgba(17, 197, 96, 0.35);
        }
        .silex-id-1616973021322-0 {top: 80px; left: 60px; height: 40px; width: 90px; text-align: center; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); background-color: rgba(17, 197, 96, 0.35);
        }
        .silex-id-1616962790794-9 {top: 280px; left: 20px; height: 30px; width: 680px;
        }
        .silex-id-1617545486161-0 {top: 0px; left: 20px; height: 40px; width: 680px; font-weight: bold; text-align: center; font-size: 20px;
        }
        .silex-id-1616972163567-5 {top: 380px; left: 20px; height: 100px; width: 680px;
        }
        .silex-id-1655756356039-0 {top: 500px; left: 20px; height: 20px; width: 360px;
        }
        .silex-id-1655756402108-1 {top: 540px; left: 20px; height: 20px; width: 360px;
        }
        .silex-id-1655756409339-2 {top: 580px; left: 20px; height: 20px; width: 400px;
        }
        .silex-id-1655756468679-3 {top: 620px; left: 20px; height: 20px; width: 520px;
        }
        .silex-id-1616973274311-0 {top: 660px; left: 20px; height: 30px; width: 680px;
        }
        .silex-id-1617279307988-0 {top: 700px; left: 20px; height: 20px; width: 181px; font-weight: bold;
        }
        .silex-id-1617544146814-0 {top: 740px; left: 20px; height: 60px; width: 460px; font-style: normal;
        }
        .silex-id-1655756758662-5 {top: 820px; left: 20px; height: 20px; width: 360px;
        }
        .silex-id-1655756806649-6 {top: 860px; left: 20px; height: 20px; width: 360px;
        }
        .silex-id-1655756829552-7 {top: 900px; left: 20px; height: 20px; width: 360px;
        }
        .silex-id-1655756857105-8 {top: 940px; left: 20px; height: 20px; width: 360px;
        }
        .silex-id-1655756715903-4 {top: 980px; left: 20px; height: 30px; width: 680px;
        }
        .silex-id-1616963792995-19 {top: 1020px; left: 20px; height: 140px; width: 306px;
        }
        .silex-id-1616963744976-15 {top: 1020px; left: 340px; height: 140px; width: 360px; box-sizing: content-box; padding: 0px; overflow: visible;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 726px; height: 1180px;
        }
    