

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1616961873095-3 {top: 40px; left: 20px; height: 180px; width: 440px; font-family: Arial, Arial, Helvetica, sans-serif; padding: 10px;
        }
        .silex-id-1616962826343-10 {top: 80px; left: 20px; height: 20px; width: 440px;
        }
        .silex-id-1616962872267-11 {top: 120px; left: 40px; height: 20px; width: 360px;
        }
        .silex-id-1616962905873-13 {top: 160px; left: 40px; height: 20px; width: 380px;
        }
        .silex-id-1616962905283-12 {top: 200px; left: 40px; height: 20px; width: 340px;
        }
        .silex-id-1616962912581-14 {top: 240px; left: 40px; height: 20px; width: 400px;
        }
        .silex-id-1616962457267-8 {top: 40px; left: 20px; height: 20px; width: 160px; font-weight: bold;
        }
        .silex-id-1616972587357-4 {top: -20px; left: 0px; height: 20px; width: 200px;
        }
        .silex-id-1616971695602-1 {top: 340px; left: 20px; height: 20px; width: 181px; font-weight: bold;
        }
        .silex-id-1616972715455-11 {top: 20px; left: 10px; height: 40px; width: 90px; text-align: center; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); background-color: rgba(17, 197, 96, 0.35);
        }
        .silex-id-1616972821050-12 {top: 20px; left: 120px; height: 40px; width: 90px; text-align: center; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); background-color: rgba(17, 197, 96, 0.35);
        }
        .silex-id-1616973021322-0 {top: 80px; left: 60px; height: 40px; width: 90px; text-align: center; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); background-color: rgba(17, 197, 96, 0.35);
        }
        .silex-id-1617279307988-0 {top: 820px; left: 20px; height: 20px; width: 181px; font-weight: bold;
        }
        .silex-id-1616973274311-0 {top: 760px; left: 20px; height: 30px; width: 680px;
        }
        .silex-id-1616972423073-0 {top: 600px; left: 20px; height: 140px; width: 220px;
        }
        .silex-id-1616973548879-9 {top: 600px; left: 480px; height: 140px; width: 220px;
        }
        .silex-id-1616972709346-10 {top: 580px; left: 480px; height: 19px; width: 220px; font-size: 14px; text-align: center;
        }
        .silex-id-1616972564998-2 {top: 580px; left: 250px; height: 19px; width: 220px; font-size: 14px; text-align: center;
        }
        .silex-id-1616973539644-5 {top: 600px; left: 250px; height: 140px; width: 220px;
        }
        .silex-id-1616962790794-9 {top: 280px; left: 20px; height: 30px; width: 680px;
        }
        .silex-id-1616963792995-19 {top: 1220px; left: 20px; height: 140px; width: 306px;
        }
        .silex-id-1616963744976-15 {top: 1220px; left: 340px; height: 140px; width: 360px; box-sizing: content-box; padding: 0px; overflow: visible;
        }
        .silex-id-1617511330743-1 {top: 510px; left: 20px; height: 40px; width: 460px;
        }
        .silex-id-1616972163567-5 {top: 380px; left: 20px; height: 120px; width: 460px;
        }
        .silex-id-1616972134475-4 {top: 380px; left: 500px; height: 140px; width: 201px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 726px; height: 1380px;
        }
        .silex-id-1617544146814-0 {top: 840px; left: 20px; height: 40px; width: 460px;
        }
        .silex-id-1617282334314-2 {top: 890px; left: 20px; height: 320px; width: 560px;
        }
        .silex-id-1617282355681-3 {top: 981px; left: 98px; height: 1.4em; width: 80px; font-family: "Courier New", "Courier New", Courier, monospace;
        }
        .silex-id-1617282518864-7 {top: 1144px; left: 191px; height: 24px; width: 113px; font-family: "Courier New", "Courier New", Courier, monospace;
        }
        .silex-id-1617282488191-6 {top: 1106px; left: 239px; height: 22.4px; width: 281px; font-family: "Courier New", "Courier New", Courier, monospace;
        }
        .silex-id-1617282479830-5 {top: 1064px; left: 162px; height: 1.4em; width: 135px; font-family: "Courier New", "Courier New", Courier, monospace;
        }
        .silex-id-1617282441082-4 {top: 1024px; left: 162px; height: 1.4em; width: 135px; font-family: "Courier New", "Courier New", Courier, monospace;
        }
        .silex-id-1617545486161-0 {top: 0px; left: 20px; height: 40px; width: 680px; font-weight: bold; text-align: center; font-size: 20px;
        }
    